{
    email subserver@{{DOMAIN}}
    log {
        level {$LOG_LEVEL:INFO}
        format json
        output stdout
    }
}

(access_logs) {
    log {
        level {$LOG_LEVEL:FATAL}
        format json
        output stdout
    }
}

(strip_response_headers) {
    header {
        -Via
    }
}

http://:80 {
    import access_logs
    import strip_response_headers

    @connect method CONNECT

    route {
        abort @connect
        reverse_proxy sub-nginx-decoy:80 {
            header_up Host {http.request.host}
        }
    }
}

{{DOMAIN}} {
    import access_logs
    import strip_response_headers

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options nosniff
        X-Frame-Options SAMEORIGIN
    }

    @sub_path path /{{SECRET_SUB_PATH}} /{{SECRET_SUB_PATH}}/*

    route {
        reverse_proxy @sub_path subs-server:8000
        reverse_proxy sub-nginx-decoy:80 {
            header_up Host {http.request.host}
        }
    }
}