services:
  subs-server:
    build:
      context: ./sub-server
      dockerfile: templates/docker-compose/Dockerfile-python
    container_name: subs-server
    restart: unless-stopped
    environment:
      SECRET_SUB_PATH: "{{SECRET_SUB_PATH}}"
      FORCE_FILE: "/data/force-subs.yml"
      NODES_FILE: "/data/nodes.json"
      LOG_FILE: "/data/sub-server.log"
      RUSSIAN_SUB_URL: "{{RUSSIAN_SUB_URL}}"
      FOREIGN_SUB_URL: "{{FOREIGN_SUB_URL}}"
      PROXY_DOMAIN: "{{PROXY_DOMAIN}}"
      FREEDOM_DOMAIN: "{{FREEDOM_DOMAIN}}"
      ADMIN_USER: "{{ADMIN_USER}}"
      ADMIN_PASSWORD: "{{ADMIN_PASSWORD}}"
      PORT: "8000"
    volumes:
      - ./sub-server/server.py:/app/server.py
      - ./sub-server/force-subs.yml:/data/force-subs.yml
      - ./sub-server/nodes.json:/data/nodes.json
      - ./sub-server/sub-server.log:/data/sub-server.log
    networks:
      - sub-caddy-net

  nginx-decoy:
    image: nginx:1.27-alpine
    container_name: sub-nginx-decoy
    restart: always
    volumes:
      - ./working/nginx-decoy/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./working/nginx-decoy/html:/usr/share/nginx/html:ro
    networks:
      - sub-caddy-net

  caddy:
    image: caddy:2
    container_name: sub-caddy
    restart: always
    depends_on:
      - subs-server
      - nginx-decoy
    volumes:
      - ./.caddy_data/sub/data:/data
      - ./working/caddy/Caddyfile:/etc/caddy/Caddyfile
    ports:
      - "80:80"
      - "443:443"
    networks:
      - sub-caddy-net

networks:
  sub-caddy-net:
    driver: bridge
