services:
  3xui:
    image: 'ghcr.io/mhsanaei/3x-ui:3.5.0'
    container_name: 3xui
    restart: unless-stopped
    volumes:
      - ./working/3x-ui/db/:/etc/x-ui/
    environment:
      XRAY_VMESS_AEAD_FORCED: "false"
      XUI_ENABLE_FAIL2BAN: "true"
    networks:
      - 3xui-caddy-net

  caddy:
    image: ghcr.io/honmiv/caddy-l4:latest
    container_name: caddy
    restart: always
    depends_on:
      - 3xui
      - nginx-decoy
    volumes:
      - ./.caddy_data/data:/data
      - ./working/caddy/Caddyfile:/etc/caddy/Caddyfile
    ports:
      - "80:80"
      - "443:443"
    networks:
      - 3xui-caddy-net

  nginx-decoy:
    image: nginx:1.27-alpine
    container_name: nginx-decoy
    restart: unless-stopped
    volumes:
      - ./working/nginx-decoy/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./working/nginx-decoy/html:/usr/share/nginx/html:ro
    networks:
      - 3xui-caddy-net

networks:
  3xui-caddy-net:
    driver: bridge
