{                                                                                                                                           

    acme_ca https://acme.zerossl.com/v2/DV90
    email   3xui@{{DOMAIN}}

    log {                                                                                                                                   
        level {$LOG_LEVEL:INFO}                                                                                                             
        format json                                                                                                                         
        output stdout                                                                                                                       
    }                                                                                                                                       
                                                                                                                                            
    https_port {{CADDY_GLOBAL_INTERNAL_PORT}}
    auto_https disable_redirects                                                                                                            
                                                                                                                                            
    servers :{{CADDY_GLOBAL_INTERNAL_PORT}} {
        protocols h1 h2                                                                                                                     
        listener_wrappers {                                                                                                                 
            proxy_protocol {                                                                                                                
                allow 172.16.0.0/12 192.168.0.0/16 10.0.0.0/8                                                                               
            }                                                                                                                               
            tls                                                                                                                             
        }                                                                                                                                   
    }                                                                                                                                       
}                                                                                                                                           
                                                                                                                                            
(access_logs) {                                                                                                                             
    log {                                                                                                                                   
        level {$LOG_LEVEL:FATAL}                                                                                                            
        format json                                                                                                                         
        output stdout                                                                                                                       
    }                                                                                                                                       
}

(strip_response_headers) {
    header {
        -Via
    }
}

                                                                                                                                            
http://:80 {                                                                                                                               
    import access_logs
    import strip_response_headers

    @connect method CONNECT

    route {
        abort @connect
        reverse_proxy nginx-decoy:80 {
            header_up Host {http.request.host}
        }
    }
}                                                                                                                                           

{{DOMAIN}}:{{CADDY_GLOBAL_INTERNAL_PORT}} {
    import access_logs
    import strip_response_headers

    @sub_path path /{{XUI_SUB_PATH}}/*
    @web_base_path path /{{XUI_WEB_BASE_PATH}} /{{XUI_WEB_BASE_PATH}}/*
                                                                                                                                            
    route {
        reverse_proxy @sub_path 3xui:{{XUI_SUB_PORT}}
        reverse_proxy @web_base_path 3xui:{{XUI_WEB_PORT}}
        reverse_proxy nginx-decoy:80 {
            header_up Host {http.request.host}
        }
    }                                                                                                                                       
    header {                                                                                                                                
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"                                                            
        X-Content-Type-Options nosniff                                                                                                      
        X-Frame-Options SAMEORIGIN                                                                                                          
    }                                                                                                                                       
}
