{
  "listen": "",
  "port": {{TCP_REALITY_INBOUND_PORT}},
  "protocol": "vless",
  "tag": "in-{{TCP_REALITY_INBOUND_PORT}}-tcp",
  "settings": {
    "clients": [],
    "decryption": "none",
    "encryption": "none",
    "testseed": [
      900,
      500,
      900,
      256
    ]
  },
  "sniffing": {
    "enabled": true,
    "destOverride": [
      "http",
      "tls",
      "quic",
      "fakedns"
    ]
  },
  "streamSettings": {
    "network": "tcp",
    "tcpSettings": {
      "acceptProxyProtocol": false,
      "header": {
        "type": "none"
      }
    },
    "security": "reality",
    "realitySettings": {
      "show": false,
      "xver": 0,
      "target": "127.0.0.1:{{XHTTP_REALITY_INBOUND_PORT}}",
      "serverNames": [
        "{{DOMAIN}}"
      ],
      "privateKey": "{{TCP_REALITY_PRIVATE_KEY}}",
      "minClientVer": "1.8.0",
      "maxClientVer": "",
      "maxTimediff": 0,
      "shortIds": {{TCP_REALITY_SHORT_IDS_JSON_ARRAY}},
      "mldsa65Seed": "",
      "settings": {
        "publicKey": "{{TCP_REALITY_PUBLIC_KEY}}",
        "fingerprint": "firefox",
        "serverName": "",
        "spiderX": "/",
        "mldsa65Verify": ""
      }
    },
    "externalProxy": [
      {
        "forceTls": "same",
        "dest": "{{DOMAIN}}",
        "port": 443,
        "remark": "",
        "sni": "",
        "alpn": []
      }
    ]
  }
}
